<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>侃侃</title>
</head>
<body>
    <h2>侃侃测试页面</h2>
    <form method="post">
        ID：<input type="text" name="id"><br>
        name：<input type="text" name="name"><br>
        <input type="button" value="submit">
    </form>

    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $("input[type=button]").click(function () {
            $.ajax({
                type: "post",
                url: "index.php?c=index&a=getNearbyUsers",
                data: {id: $("input[name=id]").val()},
                type: "json",
                success: function (res) {
                    console.log(res);
                }
            })
        });

    </script>
</body>
</html>